<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyq.cloudsystem.mapper.ImageMapper">

    <select id="getImageListByCondition" resultType="com.shiyq.cloudsystem.entity.DO.Image">
        <bind name="offset" value="(pageNum-1)*pageSize"/>
        SELECT * FROM `image`
        WHERE `user_id`=#{userId} AND `deleted`=#{deleted}
        <if test="path != null">
            AND `path`=#{path}
        </if>
        ORDER BY `create_time` DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getTotalByCondition" resultType="long">
        SELECT COUNT(*) FROM `image` WHERE `user_id` = #{userId} AND `deleted`=#{deleted}
        <if test="path != null">
            AND `path`=#{path}
        </if>
    </select>

    <select id="getAllRecycleList" resultType="com.shiyq.cloudsystem.entity.DO.Image">
        SELECT * FROM `image` WHERE `deleted`=1
    </select>

    <update id="restoreById">
        UPDATE `image`  SET `deleted` = 0  WHERE `id` = #{id}
    </update>
    
    <delete id="realDeleteById">
        DELETE FROM `image` WHERE id = #{id};
    </delete>

</mapper>
