<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyq.imagecloud.mapper.UserInfoMapper">
    <update id="updateStoredSizeByIncrease">
        UPDATE `user_info` SET `stored_size` = `stored_size` + #{increase} WHERE `user_id` = #{userId}
    </update>

    <update id="updateSecondaryPathByNewPath">
        UPDATE `user_info` SET `secondary_path` = JSON_MERGE(`secondary_path`, #{newPath}) WHERE `user_id`=#{userId}
    </update>
</mapper>
